<div class="container">
  <h2><%= @user.name %> さんとのチャット</h2>
  <div id="message">
    <%= render "chats/message", chats:@chats %>
</div>

<div id="errors">
  <%= render "layouts/errors", obj: @chat %>
</div>

<%= form_with model: @chat, local: false do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <% f.submit %>
<% end %>
